
body {
  margin: 0;
}


a img{
  border: 0px;
}

::-moz-selection {
  background-color: #c3a3b9;
  color: #bf0915;
}

::selection {
  background-color: #c3a3b9;
  color: #bf0915;
}

.pgamesr-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.pgamesr-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.pgamesr-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #6b0202 !important;
  color: white !important;
}

.pgamesr-mobile-title {
  display: none !important;
}


.pgamesr-logo-image {
  height: 28px;
  width: 140px;
}


.pgamesr-header {
  overflow: visible;
  background-color: #6b0202;
}

  .pgamesr-header .material-icons {
    color: #767777 !important;
  }

  .pgamesr-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .pgamesr-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .pgamesr-navigation-container {
    direction: rtl;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .pgamesr-navigation {
    direction: ltr;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .pgamesr-search-box.is-focused + .pgamesr-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .pgamesr-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .pgamesr-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #c3a3b9;
    }

  .pgamesr-search-box {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .pgamesr-more-button {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.pgamesr-drawer {
  border-right: none;
}

  .pgamesr-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .pgamesr-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .pgamesr-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #c3a3b9;
  }

  .pgamesr-drawer .mdl-layout-title {
    position: relative;
    background: #c3a3b9;
    height: 160px;
  }

    .pgamesr-drawer .pgamesr-logo-image {
      position: absolute;
      bottom: 16px;
    }

.pgamesr-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('../images/fondo.gif') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.pgamesr-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.pgamesr-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.pgamesr-create-character {
  font-size: 21px;
  padding-top: 7px;
}

  .pgamesr-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.pgamesr-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.pgamesr-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.pgamesr-screen {
  text-align: center;
}

.pgamesr-screen .pgamesr-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.pgamesr-image-link {
  text-decoration: none;
}

.pgamesr-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .pgamesr-wear .pgamesr-screen-image {
    width: 40%;
    z-index: 1;
  }


.pgamesr-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .pgamesr-phone .pgamesr-screen-image {
    width: 100%;
    z-index: 1;
  }


.pgamesr-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .pgamesr-tablet .pgamesr-screen-image {
    width: 100%;
    z-index: 1;
  }

  .pgamesr-tablet .pgamesr-link {
    display: block;
    z-index: 2;
  }


.pgamesr-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .pgamesr-tv .pgamesr-screen-image {
    width: 100%;
    z-index: 1;
  }


.pgamesr-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.pgamesr-auto .pgamesr-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}


.pgamesr-wear-section {
  position: relative;
  background: url('http://lakewoodlanes.net/bowl/wp-content/uploads/2016/02/IMG_3363.jpg') center no-repeat;
  background-size: cover;
  height: 800px;
}

.pgamesr-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #411c1e;
}

.pgamesr-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

.pgamesr-wear-band-text p {
  padding-top: 8px;
}

.pgamesr-link {
  text-decoration: none;
  color: #c3a3b9 !important;
}

.pgamesr-link:hover {
  color: #c3a3b9 !important;
}

.pgamesr-link .material-icons {
  position: relative;
  top: 0px;
}

.pgamesr-alt-link {
  text-decoration: none;
  color: #48373b !important;
  font-size: 16px;
}

.pgamesr-alt-link:hover {
  color: #bf0915 !important;
}

.pgamesr-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.pgamesr-customized-section {
  text-align: center;
}

.pgamesr-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.pgamesr-customized-section-text p {
  padding-top: 16px;
}

.pgamesr-customized-section-image {
  background: url('../images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.pgamesr-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.pgamesr-more-section .pgamesr-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.pgamesr-card-container {
}

.pgamesr-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
  font-size: 38px;
}

.pgamesr-card-container .mdl-card__media img {
  width: 100%;
}

.pgamesr-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.pgamesr-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.pgamesr-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 48px;
}

.pgamesr-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.pgamesr-card-container .mdl-card__actions a {
  border-top: none;
  line-height: 32px;
  font-size: 16px;
}

.pgamesr-footer {
  background-color: #fafafa;
  position: relative;
}

.pgamesr-footer a:hover {
  color: #c3a3b9;
}

.pgamesr-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.pgamesr-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.pgamesr-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.pgamesr-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.pgamesr-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}


.pgamesr-link-menu:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .pgamesr-navigation-container {
    display: none;
  }

  .pgamesr-title {
    display: none !important;
  }

  .pgamesr-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .pgamesr.pgamesr-search-box.is-focused ~ .pgamesr-mobile-title,
  .pgamesr-search-box.is-focused + .pgamesr-navigation-container + .pgamesr-mobile-title {
    opacity: 0;
  }

  .pgamesr-more-button {
    display: none;
  }

  .pgamesr-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .pgamesr-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .pgamesr-be-together-section {
    height: 350px;
  }

  .pgamesr-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .pgamesr-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .pgamesr-create-character {
    padding-top: 8px;
    font-size: 16px;
  }

  .pgamesr-create-character img {
    height: 12px;
  }

  .pgamesr-fab {
    display: none;
  }

  .pgamesr-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .pgamesr-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
